* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

canvas {
  display:block;
  margin: 40px auto 20px;
  border: 1px solid #333;
  box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
  height: 20%;
  width: 80%;
}

p, a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: red;
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-decoration:none;
}

.info {
  margin:14px auto;
  text-align: justify;
  font-size: 18px;
  color: red;
}
button {
  font-size: 40px;
  font-family: Impact;
  border: 2px solid black;
  margin-top: 50px;
}

button:hover {
  background-color: red;
}
button:focus{background-color:red;}

a {
  color:#3377ee;
}
#scoreCount{
  color: #fcfc03;
  position: absolute;
  top: 5%;
  right: 2%;
}
.scoreCount:before {
   content: "Score: ";
}
#music{
  background-color: #42f578;
  float: left;
  
}

.text-center {
  text-align: center;
}
h1 {
  margin: 0;
    display: inline-block;
}